<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">
    <head>
        <title>[% title || 'no title' %]</title>
        [%#<script src="http://www.google.com/jsapi?key=ABQIAAAA_Bw4CThgCwK93DsNpjhBjRSBzL5Turhz8i2XobZV0rA-U9D8ZRRgHRhm9ILKekq4xsWkdS7ZnqMR8g" type="text/javascript"></script>
        <script type="text/javascript">
        google.load("jquery", "1.4.2");
        google.load("jqueryui", "1.7.2");
        </script>%]

        <link rel="stylesheet" type="text/css" href="/static/css/uneven_relaxed.css" media="screen, tv, projection" />
        <link rel="stylesheet" type="text/css" href="/static/css/uneven_relaxed_print.css" media="print" />
    </head>

    <body>

        <!-- Main layout container start -->
        <div id="mainContainer">
            <!-- Menu start -->
            <div id="sidebar">

                <!-- Menu header start -->
                <div id="sidebarHeader">
                    &nbsp;
                </div>

                <!-- Menu items -->
                <h1>Site</h1>

                <a href="http://wiki.unix-people.org/" class="menuItem">wiki</a>
                [% IF c.user_exists %]
                <a href="[% c.uri_for('/logout') %]" class="menuItem">logout</a>
                [% ELSE %]
                <a href="[% c.uri_for('/login') %]" class="menuItem">login</a>
                [% END %]

                [% IF c.check_user_roles('admin') %]
                <h1>Admin</h1>

                [% END %]

                <!-- News section -->
                [% INCLUDE "tweets.tt" %]

                <!-- Menu footer -->
                <div id="sidebarFooter">
                    &nbsp;
                </div>

            </div>
            <!-- Menu end -->

            <!-- Content start -->
            <div id="content">

                <!-- Content header -->
                <div id="header">
                    <a name="top"></a>
                    <div id="title">
                        <img src="/static/images/unix-people_logo.png" width="35" height="36" alt="logo"/><span class="highlight">unix</span>-people
                        <a href="http://unix-people.org" title="unix people" style="border: 0px;">unix-people.org</a>
                    </div>
                </div>

                [% IF status_msg %]
                <h1>[% status_msg %]</h1>
                [% END %]
                <!-- Content blocks start -->
                [% content %]

                <!-- Content footer -->
                <div id="footer">
                    <div style="padding: 5px">&nbsp;</div>
                    &copy; 2010 Dylan William Hardison<br/>
                    design by: <a href="http://openwebdesign.org/userinfo.phtml?user=snop" title="OWD profile">snop</a> | <a href="http://fullahead.org" title="design portfolio">fullAhead.org</a>
                </div>

            </div>
            <!-- Content end -->
        </div>
        <!-- Main layout container end -->
    </body>
</html>
