body {
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  color: #FFFFFF;
  background-color: #000000;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #006DA6;
}

/* -- Layout classes -- */

#mainContainer {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

/* -- Content container -- */

#content {
  float: right;
  width: 550px;
  margin-right: 10px;
}

#content ul {
	margin-left: 1em; padding-left: 5px;
}

#content p, #content div {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

#content blockquote {
	margin-bottom: 0;
}

#content .block {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
  background-color: #555555 !important;
}

#content a:link, #content a:visited {
  text-decoration: none;
  border-bottom: 1px solid #DEFF00;
  color: #FFFFFF;
}

#content a:hover {
  border-bottom: 1px solid #DEFF00;
  color: #DEFF00;
}

#content a:link img, #content a:visited img {
  border: 0px;
}

#content h1, #sidebar h1{
  clear: both;
  font-size: 1.4em;
  letter-spacing: 1px;
  text-indent: 10px;
  margin: 0px;
  border-top: 10px solid #000000;
  border-bottom: 10px solid #333333;
  color: #DEFF00;
  background-color: #006DA6;
}

#content h2, #sidebar h2 {
  clear: both;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-indent: 10px;
  margin: 0px;
  border-top: 10px solid #000000;
  border-bottom: 10px solid #333333;
  color: #DEFF00;
  background-color: #006DA6;
}


/* -- Content header and footer -- */

#header {
  display: table-cell;
  height: 100px;
  width: 550px;
  text-align: right;
  vertical-align: bottom;
  margin-bottom: 0px;
  background: url(../images/relaxed_hdr.png) no-repeat top left;
}

#footer {
  float: left;
  height: 75px;
  width: 550px;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #333333 url(../images/round_corner.gif) no-repeat bottom right;
}

#footer a:link, #footer a:visited {
  border: 0px;
  color: #DEFF00;
}

#footer a:hover {
  border: 0px;
  color: #AAAAAA;
}

/* -- Menu & news container -- */

#sidebar {
  float: right;
  width: 200px;
  margin: 0px;
  background-color: #333333;
}

#sidebar p {
  margin: 0px;
  padding: 5px 5px 10px 5px;
  background-color: #555555;
}

#sidebar a:link, #sidebar a:visited {
  text-decoration: none;
  border-bottom: 1px solid #DEFF00;
  color: #FFFFFF;
}

#sidebar a:hover {
  color: #DEFF00;
}

#sidebar a:link img, #sidebar a:visited img {
  vertical-align:middle;
  padding: 0 5px 0 5px;
  border: 0px;
}

#sidebar a:link.menuItem, #sidebar a:visited.menuItem {
  display: block;
  clear: both;
  font-size: 10pt;
  text-decoration: none;
  margin-top: 1px;
  padding: 0 0 0 25px;
  border: 0px;
  color: #FFFFFF;
  background: #006DA6 url(../images/relaxed_icn_menu.gif) no-repeat center left;
}

#sidebar a:hover.menuItem {
  color: #DEFF00;
  background: #00517C url(../images/relaxed_icn_menu_on.gif) no-repeat center left;
}

#sidebarHeader {
  height: 100px;
  background: #333333 url(../images/relaxed_hdr_bg.gif) repeat-x bottom right;;
}

#sidebarHeader * {
	padding-top: 15px;
	text-align: center;
}

#sidebarFooter {
  height: 70px;
  border-top: 10px solid #000000;
  background: #333333 url(../images/round_corner.gif) no-repeat bottom right;
}

/* -- Title and sub-headings -- */

.highlight {
  color: #DEFF00;
}

/* -- IE CSS2 selector hack.  This still validates, but IE ignores the class defined
      with the [id].  The result is you set the IE specific value in the first class
      definition, and the standard compliant browser value in the second class -- */

#title {
  font-size: 36px;
  padding: 48px 4px 0px 0px;
}

#title[id] {
  padding-top: 0px;
  padding-bottom: 3px;
}

#title a:link, #title a:visited {
  display: block;
  font-size: 10px;
  margin-top: -0px;
  border: 0px;
}

#title a:hover {
  color: #DEFF00;
}

.subHeading, h2 {
  font-size: 0.8em;
  color: #DEFF00;
  display: block;
}

b, strong {
	color: #DEFF00;
}



/* -- Images styles -- */

.imgRight, .imgLeft {
  border: 1px solid #888888;
}

.imgRight {
  float: right;
  margin: 0 0 10px 10px;

}

.imgLeft {
  float: left;
  margin: 0 10px 10px 0;
}

/* -- Takes care of the 'jump to top' arrow -- */

.upArrow {
  clear: both;
  display: block;
  text-align: right;
}

.upArrow a:link img, .upArrow a:visited img {
  margin-top: 10px;
  border-bottom: 0px;
  background-color: #DEFF00;
}

.upArrow a:hover img {
  border: 0px;
  background-color: #BBBBBB;
}

/* -- Quote block styles -- */

.quote {
  display: block;
  margin: 10px 20px 10px 20px;
  padding: 2px;
  border: 1px solid #888888;
  background-color: #666666;
}

.author {
  display: block;
  font-size: 0.8em;
  color: #DEFF00;
}


fieldset div, fieldset div label {
    vertical-align: top;
}

ul, ol, dl { padding-top: 0; margin-top: 0; }

dd ul { padding-left: 0; padding-top: 0.5ex; }

.buttonbox { text-align: right; }
table.jobs_approve, table.jobs_approve td, table.jobs_approve th {
	text-align: left;
	vertical-align: top;
}
